{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Restablecida</title>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="form">
            <header>¡Contraseña Restablecida!</header>
            <p>Tu contraseña ha sido cambiada con éxito.</p>
            <p>Ahora puedes iniciar sesión con tu nueva contraseña.</p>
            <a href="{% url 'account_login' %}" class="btn">Iniciar sesión</a>
        </div>
    </div>
</body>
</html>
