{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="login form">
            <header>Registro</header>
            <!-- Mantén tu estructura actual pero cambia el formulario -->
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p}}         
                <button type="submit">Registrarse</button>
            </form>
            <p><a href="{% url 'account_login' %}">Inicia sesion</a></p>
        </div>
    </div>
</body>
</html>


